<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-row>
      <ion-col size="12">
        <ion-card> 
          <ion-card-title>Bienvenido, Usuario</ion-card-title>
        <form [formGroup]="formulario" (submit)="obtenerDatosDelFormulario()">
          <ion-item>
            <ion-label>
              <ion-input fill="outline" label="Usuario" labelPlacement="stacked" type="text" formControlName="username" ></ion-input>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-input fill="outline"  label="contrasena" labelPlacement="stacked" type="password" formControlName="password"> </ion-input>
            </ion-label>
          </ion-item>
          <ion-button type="submit" role="submit"> 
            <ion-text *ngIf="!(login.$cargando | async)"> Iniciar Sesion </ion-text> 
            <ion-spinner *ngIf="login.$cargando | async" name="lines-sharp"></ion-spinner>
          </ion-button>
        </form>
        </ion-card>
      </ion-col>
    </ion-row>
</ion-content>
